.container {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    margin: 0 auto;
}

.divimgs,
.divimgs img,
.divimgs div {
    margin: 0 auto;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

.btn,
.btnred {
    text-transform: uppercase;
    font-size: 2em;
    background-color: #4E7EDB;
    border: none;
    color: white;
    padding: 1em;
    border-radius: .75em;
}

.btn:disabled {
    background-color: #079f1e;
}

.btnred:disabled {
    background-color: #b10f40;
}

.containerLetras {
    flex: 1;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.lacunas {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    gap: 2em;
    justify-content: center;
    font-size: 2em;
    position: fixed;
    top: 0;
}

.lacunas div {
    width: 10%;
    text-align: center;
    border-bottom: 15px solid white;
    margin-bottom: 2em;
}

.containerkeyandDescr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}


.don {
    display: block;
}

.dnone {
    display: none;
}

.imagem {

    flex: 1;
}


.wait {
    display: none;

}

.perdeu,
.vitoria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(186, 11, 11, 0.644);
    /* Define a cor de fundo com um pouco de transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.vitoria {
    background-color: rgba(55, 186, 11, 0.644);
    /* Define a cor de fundo com um pouco de transparência */

}

.perdeu div,
.vitoria div {
    border-radius: .48em;
    color: rgb(112, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1em;
    background-color: white;
}

.perdeu p,
.vitoria p {
    font-size: 2em;
}

.perdeu span {
    color: red;
}

.perdeu button,
.vitoria button {
    background-color: blue;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1.4em;
    border-radius: .48em;
}