

.container {
    color: white;
}

.containerDividido {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

.divimgs,
.divimgs img,
.divimgs div {
    margin: 0 auto;
}

.container h2 {
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

.btn,
.btnred {
    text-transform: uppercase;
    font-size: 2em;
    background-color: #4E7EDB;
    border: none;
    color: white;
    padding: 1em;
    border-radius: .75em;
}

.btn:disabled {
    background-color: #079f1e;
}

.btnred:disabled {
    background-color: #b10f40;
}

.containerLetras {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.containerPalavraChave {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2em;
    justify-content: center;
    font-size: 2em;
}

.containerPalavraChave div {
    width: 10%;
    text-align: center;
    border-bottom: 20px solid white;
    margin-bottom: 2em;
}

.containerkeyandDescr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.containerkeyandDescr p {
    margin-left: 5em;
    margin-bottom: 2em;
}

.imagemBoneco{
    position: absolute;
    margin: 0;
    left: 7.5%;
}
.don{
    display: block;
}
.dnone{
    display: none;
}